matplotlib==3.9.1
numpy==1.21.5
pandas==2.2.2
streamlit==1.36.0
streamlit_extras==0.4.3
streamlit_option_menu==0.3.13
toml==0.10.2
## streamlit-aggrid==1.0.5
## st_gsheets_connection==0.0.4
## bcrypt
