bcrypt==4.0.1
matplotlib==3.9.1
numpy==1.24.4
pandas==1.5.3
streamlit==1.36.0
streamlit-aggrid==1.0.5
streamlit-extras==0.4.3
streamlit-option-menu==0.3.13
toml==0.10.2
st-gsheets-connection==0.0.4
google-cloud-storage
pyppeteer
asyncio
weasyprint==62.3
gspread
oauth2client
xhtml2pdf==0.2.16
