@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Apply Rubik font globally and enforce RTL layout */
body, h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea {
    font-family: 'Rubik', sans-serif !important;
    direction: rtl !important;
}

.stSlider {
    direction: ltr; /* Reset direction if necessary */
    text-align: left; /* Adjust text alignment if necessary */
}
.stSlider > label{
    font-family: 'Rubik', sans-serif !important;
    direction: rtl !important;
}

/* Specific adjustments for DataFrame content */
.stDataFrame div, .stTable div, .dataframe th, .dataframe td {
    font-family: 'Rubik', sans-serif !important;
    text-align: center !important;
}

.stButton > button {
color: #ffffff; /* White text for buttons */
background-color: #30475E; /* Dark blue color for buttons */
border-radius: 5px;
padding: 10px 20px;
transition: background-color 0.3s, transform 0.3s;
font-size: 1em;
}
.stButton > button:hover {
    background-color: #25394C; /* Darker blue on hover */
    transform: scale(1.05);
}
.stButton > button.logout {
    background-color: #F05454; /* Red color for logout button */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px 20px;
    font-size: 1em;
}
.stButton > button.logout:hover {
    background-color: #C74444; /* Darker red on hover */
    transform: scale(1.05);
}
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-button img {
    margin-right: 5px;
}

.dataframe-container {
    background-color: #ffffff; /* White background for dataframe */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.file-upload-container {
    background-color: #ffffff; /* White background for file upload */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.stDownloadButton > button {
    color: #ffffff; /* White text for download buttons */
    background-color: #30475E; /* Dark blue color for download buttons */
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}
.stDownloadButton > button:hover {
    background-color: #25394C; /* Darker blue on hover */
    transform: scale(1.05);
}
[data-testid="stSidebar"] {
    background-color: #d1d8e6; /* Background color of the sidebar */
    color: #ffffff; /*rgb(213, 219, 231)olor of the sidebar */
}
